# =====================================================
# Application Configuration
# =====================================================
BASE_URL=https://


# =====================================================
# AWS Credentials
# =====================================================
# These credentials should be obtained from AWS IAM
# NEVER commit the actual .env file with real credentials
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_REGION=eu-west-2

# =====================================================
# S3 Configuration
# =====================================================
S3_BUCKET_NAME=sgss-data-sit
S3_INPUT_PREFIX=PreRegFileSrcWeb/

# =====================================================
# Glue Job Configuration
# =====================================================
GLUE_JOB_NAME=wf_load_cdr_and_amr_files_to_ods_sit
GLUE_CLEAN_JOB_NAME=sgss_ddl_sit
GLUE_JOB_TIMEOUT=600
GLUE_POLL_INTERVAL=10

# =====================================================
# Aurora / Secrets Manager Configuration
# =====================================================
AURORA_SECRET_NAME=arn:aws:secretsmanager:eu-west-2:055029754137:secret:rds-creds-glue-sit-k5Bquh
AURORA_DATABASE=sgssSIT
AURORA_TABLE_NAME=ods.omd_file_log
AURORA_PORT=5432
AURORA_RESOURCE_ARN=arn:aws:rds:eu-west-2:055029754137:cluster:sgss-aurora-cluster-sit
